In [2]:
import pandas as pd

In [5]:
crowdfunding = pd.ExcelFile("Class/crowdfunding.xlsx")

In [7]:
crowdfunding.sheet_names

['crowdfunding_info', 'contact_info']

In [9]:
# Get the crowdfunding_info from the crowdfunding_info worksheet. 

crowdfunding_info_data = pd.read_excel(crowdfunding, sheet_name = 'crowdfunding_info')
crowdfunding_info_data.head()

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [11]:
# Increase the width of the column.
pd.set_option('max_colwidth', 400)

contact_info = pd.read_excel(crowdfunding, sheet_name = 'contact_info', header =3)
contact_info.head()

                                                                                contact_info
0   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
1          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
2            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
3  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
4        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}

In [12]:
contact_info.tail()

                                                                                                  contact_info
995                   {"contact_id": 3684, "name": "Whitney Noack", "email": "whitney.noack@laboratorios.org"}
996             {"contact_id": 5784, "name": "Gelsomina Migliaccio", "email": "gelsomina.migliaccio@junk.com"}
997  {"contact_id": 1498, "name": "Evangelista Pereira", "email": "evangelista.pereira@thompson-peterson.biz"}
998                       {"contact_id": 6073, "name": "Gareth Comolli", "email": "gareth.comolli@tiscali.fr"}
999                {"contact_id": 4939, "name": "Michelangelo Hess", "email": "michelangelo.hess@bouygtel.fr"}

In [13]:
crowdfunding_info_data.tail()

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
995,2986,Manning-Hamilton,Vision-oriented scalable definition,97300,153216,successful,2043,US,USD,1609221600,1622350800,False,True,food/food trucks
996,2031,Butler LLC,Future-proofed upward-trending migration,6600,4814,failed,112,US,USD,1634274000,1638252000,False,False,theater/plays
997,1627,Ball LLC,Right-sized full-range throughput,7600,4603,canceled,139,IT,EUR,1636174800,1639116000,False,False,theater/plays
998,2175,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600,37823,failed,374,US,USD,1602133200,1618117200,False,True,music/indie rock
999,1788,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100,62819,canceled,1122,US,USD,1609308000,1629262800,False,False,food/food trucks

In [14]:
crowdfunding_info_data.sample(n=5)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
9,970,"Rangel, Holt and Jones",Open-source fresh-thinking model,6200,3208,failed,44,US,USD,1628830800,1630386000,False,False,music/electric music
75,60,"White, Torres and Bishop",Multi-layered dynamic protocol,9700,14606,successful,170,US,USD,1614232800,1617166800,False,False,photography/photography books
571,2729,Wilson and Sons,Monitored grid-enabled model,3500,3295,failed,35,IT,EUR,1621141200,1633928400,False,False,film & video/shorts
310,1315,"Velazquez, Hunt and Ortiz",Switchable zero tolerance website,7800,1586,failed,16,US,USD,1616907600,1619154000,False,False,games/video games
905,1340,Haynes PLC,Re-engineered clear-thinking project,7900,12955,successful,236,US,USD,1598677200,1633496400,False,False,theater/plays

In [15]:
contact_info.sample(n=6)

                                                                                          contact_info
562            {"contact_id": 5109, "name": "Alexandria Best", "email": "alexandria.best@yahoo.co.uk"}
337  {"contact_id": 5852, "name": "Franco Fioravanti", "email": "franco.fioravanti@barry-gill.com.au"}
468                    {"contact_id": 1487, "name": "Wendy Bustos", "email": "wendy.bustos@libero.it"}
83     {"contact_id": 6181, "name": "Christopher Poirier", "email": "christopher.poirier@hotmail.com"}
425               {"contact_id": 3059, "name": "Isaac Benard", "email": "isaac.benard@googlemail.com"}
906                  {"contact_id": 6063, "name": "Lore Delaunay", "email": "lore.delaunay@yahoo.com"}

In [16]:
# Get a brief summary of the crowdfunding_info DataFrame. 
crowdfunding_info_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   company_name             1000 non-null   object
 2   blurb                    1000 non-null   object
 3   goal                     1000 non-null   int64
 4   pledged                  1000 non-null   int64
 5   outcome                  1000 non-null   object
 6   backers_count            1000 non-null   int64
 7   country                  1000 non-null   object
 8   currency                 1000 non-null   object
 9   launched_at              1000 non-null   int64
 10  deadline                 1000 non-null   int64
 11  staff_pick               1000 non-null   bool
 12  spotlight                1000 non-null   bool
 13  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(6), object(6)
memory usage: 95.8+ KB

In [18]:
# Get a brief summary of the contact_info DataFrame. 
contact_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   contact_info  1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

In [21]:
# Get the unique values in the category & sub-category column. 
crowdfunding_info_data["category & sub-category"].unique()

array(['food/food trucks', 'music/rock', 'technology/web',
       'theater/plays', 'film & video/documentary',
       'music/electric music', 'film & video/drama', 'music/indie rock',
       'technology/wearables', 'publishing/nonfiction',
       'film & video/animation', 'games/video games',
       'film & video/shorts', 'publishing/fiction',
       'photography/photography books', 'publishing/radio & podcasts',
       'music/metal', 'music/jazz', 'publishing/translations',
       'film & video/television', 'games/mobile games',
       'music/world music', 'film & video/science fiction',
       'journalism/audio'], dtype=object)

In [23]:
# Assign the category and subcategory values to category and subcategory columns.
crowdfunding_info_data[["category","subcategory"]] = crowdfunding_info_data["category & sub-category"].str.split('/', n=1, expand=True)
crowdfunding_info_data.head(10)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays
5,2057,Harris Group,Open-source optimizing database,7600,13195,successful,174,DK,DKK,1607666400,1630213200,False,False,theater/plays,theater,plays
6,1894,"Ortiz, Coleman and Mitchell",Operative upward-trending algorithm,5200,1090,failed,18,GB,GBP,1596171600,1620709200,False,False,film & video/documentary,film & video,documentary
7,2669,Carter-Guzman,Centralized cohesive challenge,4500,14741,successful,227,DK,DKK,1608616800,1632200400,False,False,theater/plays,theater,plays
8,1114,Nunez-Richards,Exclusive attitude-oriented intranet,110100,21946,live,708,DK,DKK,1586322000,1615356000,False,False,theater/plays,theater,plays
9,970,"Rangel, Holt and Jones",Open-source fresh-thinking model,6200,3208,failed,44,US,USD,1628830800,1630386000,False,False,music/electric music,music,electric music

In [25]:
print(crowdfunding_info_data["category"].nunique())

9

In [27]:
print(crowdfunding_info_data["subcategory"].nunique())

24

In [28]:
categories = crowdfunding_info_data["category"].unique()

In [29]:
categories

array(['food', 'music', 'technology', 'theater', 'film & video',
       'publishing', 'games', 'photography', 'journalism'], dtype=object)

In [30]:
subcategories = crowdfunding_info_data["subcategory"].unique()

In [31]:
subcategories

array(['food trucks', 'rock', 'web', 'plays', 'documentary',
       'electric music', 'drama', 'indie rock', 'wearables', 'nonfiction',
       'animation', 'video games', 'shorts', 'fiction',
       'photography books', 'radio & podcasts', 'metal', 'jazz',
       'translations', 'television', 'mobile games', 'world music',
       'science fiction', 'audio'], dtype=object)

In [33]:
# Import the Numpy dependency
import numpy as np
# Create numpy arrays that have 1-10 for the category_ids and 1-25 for the subcategory_ids.
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)

In [34]:
category_ids

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [35]:
subcategory_ids

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])

In [36]:
# Use a list comprehension to add "cat0" to each category_id. 

cat_ids = ["cat0"+str(cat_id) for cat_id in category_ids]
# Use a list comprehension to add "scat0" to each subcategory_id. 
scat_ids = ["scat0" + str(scat_id) for scat_id in subcategory_ids ]

print(cat_ids)
print(scat_ids)

['cat01', 'cat02', 'cat03', 'cat04', 'cat05', 'cat06', 'cat07', 'cat08', 'cat09']
['scat01', 'scat02', 'scat03', 'scat04', 'scat05', 'scat06', 'scat07', 'scat08', 'scat09', 'scat010', 'scat011', 'scat012', 'scat013', 'scat014', 'scat015', 'scat016', 'scat017', 'scat018', 'scat019', 'scat020', 'scat021', 'scat022', 'scat023', 'scat024']

In [37]:
# Create a category DataFrame with the cat_ids array as the category_id and categories list as the category name.
category_df = pd. DataFrame({"category_id": cat_ids,
                            "category": categories})

In [38]:
category_df

  category_id      category
0       cat01          food
1       cat02         music
2       cat03    technology
3       cat04       theater
4       cat05  film & video
5       cat06    publishing
6       cat07         games
7       cat08   photography
8       cat09    journalism

In [39]:
subcategory_df = pd.DataFrame({"subcategory_ids": scat_ids,
                              "subcategory" :subcategories})

In [ ]:
s